.modal {
    float: right;
    direction: flex;
}
.logo {
    float: right;
    size:10px;
}
.h {
    font-weight: bold;
    font-size: x-large;
    text-align:center;
    align-items: center;
    justify-content: space-around;
}
.shop {
        font-weight: bold;
            font-size: x-large;
            text-align: center;
            align-items: center;
}
h2 {
            font-size: x-large;
                text-align: center;
}
.slide1 {
    margin-right: 100px;
    padding-right: 50px;
    padding-left: 10%;
    text-indent: 620px;
}
.center-div {
    margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}
.Cart {
        margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.cart {
display: block;
    margin-left: auto;
    margin-right: auto;
    right: -35px;
    margin:0%;
    top:10%
}